<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<link rel="manifest" href="manifest.json">
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/firebase/firebase-app.js"></script>
<script src="/firebase/firebase.js"></script>
<script src="/firebase/firebase-messaging.js"></script>

<body style="background: rgb(236, 236, 236)">
        <h3>User: <%=user%></h3>
        <div>
            
                <table border="1" align="center" width="100%" style="text-align: center" class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>ID Camera</th>
                            <th>IP Address</th>
                            <th>Port</th>
                            <th>Mô tả</th>
                            <th>...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                            for (var i = 0; i < list_camera.length; i++) {
                        %>
                        
                        <tr>
                            <td><%=list_camera[i].id_camera %></td>
                            <td><%=list_camera[i].ip_address %></td>
                            <td><%=list_camera[i].port %></td>
                            <td><%=list_camera[i].description %></td>
                            <td><a href="editcamera?id=<%= list_camera[i].id_camera%>">Sửa</a></td>
                        </tr>
                        <%
                            }
                        %>
                    </tbody>
            
                </table>
            </div>
</body>