<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<link rel="manifest" href="manifest.json">
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/firebase/firebase-app.js"></script>
<script src="/firebase/firebase.js"></script>
<script src="/firebase/firebase-messaging.js"></script>

<body style="background: rgb(236, 236, 236)">
        <div>
                <table border="1" align="center" width="100%" style="text-align: center" class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Tên Khách hàng</th>
                            <th>Địa chỉ</th>
                            <th>Email</th>
                            <th>Điện thoại</th>
                            <th>Ngày đăng ký</th>
                            <th>...</th>
                            <th>...</th>
                            <th>...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                            for (var i = 0; i < list_user.length; i++) {
                        %>
                        
                        <tr>
                            <td><%=list_user[i].username %></td>
                            <td><%=list_user[i].name %></td>
                            <td><%=list_user[i].address %></td>
                            <td><%=list_user[i].email %></td>
                            <td><%=list_user[i].phone_number %></td>
                            <td><%=list_user[i].register_date %></td>
                            <td><a href="detail?user=<%= list_user[i].username%>">Chi tiết</a></td>
                            <td><a href="edituser?user=<%= list_user[i].username%>">Sửa</a></td>
                            <td><a href="admin/listcamera?user=<%= list_user[i].username%>">Thêm camera</a></td>
                        </tr>
                        <%
                            }
                        %>
                    </tbody>
            
                </table>
            </div>
</body>