<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="manifest" href="manifest.json">
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>


<body style="background: rgb(236, 236, 236)">
    <div>
        <table border="1" align="center" width="100%" style="text-align: center" class="table table-striped custab">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Tên Khách hàng</th>
                    <th>Địa chỉ</th>
                    <th>Email</th>
                    <th>Điện thoại</th>
                    <th>Ngày đăng ký</th>
                    <th>...</th>
                    <th>...</th>
                    <th>...</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                <%
                            for (var i = 0; i < list_account.length; i++) {
                        %>

                    <tr>
                        <td>
                            <%=list_account[i].username %>
                        </td>
                        <td>
                            <%=list_account[i].name %>
                        </td>
                        <td>
                            <%=list_account[i].address %>
                        </td>
                        <td>
                            <%=list_account[i].email %>
                        </td>
                        <td>
                            <%=list_account[i].phone_number %>
                        </td>
                        <td>
                            <%=list_account[i].register_date %>
                        </td>
                        <td>
                            <a href="detailUser?username=<%= list_account[i].username%>">Chi tiết</a>
                        </td>
                        <td>
                            <a href="editUser?username=<%= list_account[i].username%>">Sửa</a>
                        </td>
                        <td>
                            <a href="listAllCamera?username=<%= list_account[i].username%>">Thêm camera</a>
                        </td>
                        <td>
                            <form method="POST" action="/deleteUser" onSubmit="return confirmDelete(this)">
                                <input type="hidden" name="username" value="<%= list_account[i].username%>">
                                <input type="submit" value="Xóa">

                                <script>
                                    function confirmDelete() {
                                        if (confirm("Bạn có chắc là muốn xóa người dùng này?")) {
                                            return true;
                                        }
                                        else return false
                                    }
                                </script>
                            </form>
                        </td>
                    </tr>
                    <%
                            }
                        %>
            </tbody>

        </table>
    </div>
</body>